<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    <script> 

      /**
      * rafflr Module
      *
      * Description
      * This is an app that can manage raffles
      */
      angular.module('rafflr', [])
        .controller('rafflrController', ['$scope', function($scope){
          //attach names to scope
          $scope.names = ["John", "Jeff", "Jack"];
          $scope.userName = "";
          $scope.newName = "";

          //function that gets called when submit is clicked
          $scope.validateMatchFunction = function(){
            var randomName = getRandomIndexValue($scope.names);

            //notify user of chosen name
            alert("Random Name Choosen was "+randomName);

            //nested if statement to check if input was valid and then checking if it was a match
            if(containsValueIncaseSenitive($scope.names, $scope.userName)){
              if ($scope.userName.toLowerCase()===randomName.toLowerCase()){
                alert("It's a match!");
              } 
              else {
                alert("It's not a match.");
              }
            }else{
              alert("You cannot submit "+ $scope.userName);
            }
          }

          $scope.addNewName = function(name){
            // Added if statement to remove ngRepeat Dup error
            // This is dependant on desired functionality and
            // will have a todo
            // TODO: allow this functionality to be controlled by the raffle admin
            if(containsValueIncaseSenitive($scope.names, name)){
              return alert('This name is already entered.');
            }
            $scope.names.push(name);
          }

          // This function returns a random value from an array writing it this way
          // allows it to be more of a utility function.
          var getRandomIndexValue = function(array){
            return array[Math.floor((Math.random() * array.length) )];
          }

          //This function returns true if the value exits in the array whether ot not 
          //case matches. If it does not match it returns false.
          var containsValueIncaseSenitive = function(array, value){
            var testArray = [];
            array.forEach(function(oldValue){
              testArray.push(oldValue.toLowerCase());
            });
            //return the boolean result of this computation
            return testArray.indexOf(value.toLowerCase()) > -1;
          }

        }]);

      

    </script>

  </head>
  
  <body ng-app="rafflr" ng-controller="rafflrController">
    <div class="container"> 
      <label for="name">Type in one of the following:
        <!-- This method will introduce an error to be resolved in next story -->
        <!-- Here are several was to handle the scenerio and error followinf --> 

        <!-- <sapn ng-repeat="name in names">
          <span ng-if="$index < $parent.names.length - 1"> {{name}}, </span>
          <span ng-if="$index >= $parent.names.length - 1">or {{name}}.</span>
        </sapn> -->

        <!-- ngRepeat has a track feature, defualt is to track by values in arrays. -->
        <!-- Here we tracked by $index. This is the index value on the array. -->

        <!-- <sapn ng-repeat="name in names track by $index">
          <span ng-if="$index < $parent.names.length - 1"> {{name}}, </span>
          <span ng-if="$index >= $parent.names.length - 1">or {{name}}.</span>
        </sapn> -->

        <!-- Another way to handle detecting if it is the last element in the array. -->

        <!-- <sapn ng-repeat="name in names track by $index">
          <span ng-if="!$last"> {{name}}, </span>
          <span ng-if="$last">or {{name}}.</span>
        </sapn> -->
        
        <!-- Final way to do this examples will be cleared out for story 3. -->
        <sapn ng-repeat="name in names">
          <span ng-if="!$last"> {{name}}, </span>
          <span ng-if="$last">or {{name}}.</span>
        </sapn>
        <!-- Thats it for now -->
      </label><br/><br/>
      <input type="text" id="name" class="form-control" ng-model="userName">
      <br/>
      <input type="button" class="btn btn-primary" value="Submit" ng-click="validateMatchFunction()">
    </div>
    <div class="container"> 
      <label for="name">Add new Name</label><br/><br/>
      <input type="text" id="name" class="form-control" ng-model="newName">
      <br/>
      <input type="button" class="btn btn-primary" value="Add Name" ng-click="addNewName(newName)">
    </div>
  </body>

</html>
